@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;800&display=swap");

:root {
    --blue: #543fff;
    --pink: #f13ea7;

    --mainFont: "Gabarito", cursive;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../../assets/images/homePage.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

.team-name {
    font-family: var(--mainFont);
    color: var(--blue);
    font-size: 3rem;
    text-align: center;
}

.person-container {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    viewport-fit: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    grid: 100%;
}

/* Style for each individual profile */
.person-profile {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    /* Add a border for separation */
    border-radius: 10px;
    /* Rounded corners */
}

/* Style for the image */
.person-img {
    width: 400px;
    /* Adjust the width as needed */
    height: 400px;
    border-radius: 50%;
    /* Make the image circular */
}

/* Style for the name */
.person-name {
    font-family: var(--mainFont);
    color: var(--blue);
    margin-top: 10px;
    font-size: large;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: var(--blue)
}

.link:hover {
    color: var(--pink);
}