@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;800&display=swap");

:root {
  --blue: #543fff;
  --pink: #f13ea7;

  --mainFont: "Gabarito", cursive;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  all: unset;
  cursor: pointer;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
}
