html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background-image: url("../assets/images/homePage.png");
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15vw;

  height: 80vh;
  margin: 0px 3vw 0px 7vw;

  @media (max-width: 1150px) {
    display: flex;
    flex-direction: column;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  color: var(--blue);
  font-family: var(--mainFont);

  animation-name: slideFromRight;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  & .title {
    display: flex;
    align-items: center;

    text-align: left;
    font-size: 4.5rem;
    font-weight: bold;
    grid-row-start: 1;
    grid-row-end: 3;

    @media (max-width: 650px) {
      font-size: 3.5rem;
    }

    @media (max-width: 430px) {
      font-size: 2.5rem;
    }

    @media (max-width: 290px) {
      font-size: 2rem;
    }
  }

  & .description {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & p {
      font-size: 1.3rem;

      @media (max-width: 650px) {
        font-size: 1.3rem;
      }

      @media (max-width: 430px) {
        margin-top: 10px;
        font-size: 1rem;
      }
    }

    & a {
      width: fit-content;
      cursor: pointer;
      height: 50px;
    }

    & .startButton {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;

      width: fit-content;
      height: 100%;
      padding: 5px 30px;

      background-color: var(--pink);
      color: white;
      border: 0;
      border-radius: 20px;

      font-family: var(--mainFont);
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;

      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      & img {
        height: 70%;
      }

      &:hover {
        background-color: var(--blue);
      }
    }
  }
}

.pageImage {
  display: flex;
  justify-content: center;
  align-items: center;

  animation-name: slideFromLeft;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  & img {
    max-height: 80vh;

    @media (max-width: 430px) {
      max-height: 70vh;
    }

    @media (max-width: 290px) {
      max-height: 60vh;
    }
  }
}
