html {
  overflow-y: hidden;

  @media (max-width: 800px) {
    overflow-y: scroll;
  }
}

body {
  background-image: url("../assets/images/selectPage.png");
  background-size: cover;

  overflow-y: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
}

.selections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr, 1fr;

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
  }

  justify-content: center;
  align-items: center;

  gap: 40px;

  width: 50vw;

  animation-name: slideFromBottom;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  & h1 {
    grid-column: 1 / span 2;
    grid-row: 1;

    @media (max-width: 800px) {
      grid-column: 1;
    }

    font-family: var(--mainFont);
    font-size: 2rem;
    color: var(--blue);
    text-align: center;

    @media (max-width: 500px) {
      font-size: 1.5rem;
    }
  }

  & .card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 40vw;
    height: 20vh;
    padding: 20px 30px;

    @media (max-width: 800px) {
      width: 50vw;
      height: 15vh;
    }

    @media (max-width: 425px) {
      width: 75vw;
      height: 13vh;
    }

    position: relative;
    transform: translateY(0px);
    transition: transform 0.3s ease-out;

    border-radius: 10px;
    box-shadow: 4px 3px 12px 0px rgba(55, 55, 55, 0.22);
    overflow: hidden;
    cursor: pointer;

    & h2 {
      font-family: var(--mainFont);
      color: white;
      text-align: center;
      font-size: 2.25rem;

      display: block;
      height: fit-content;
      text-wrap: wrap;
      padding: 10px 30px;
      border-radius: inherit;

      background-color: var(--blue);

      @media (max-width: 1750px) {
        font-size: 2rem;
      }

      @media (max-width: 1475px) {
        font-size: 1.5rem;
      }

      @media (max-width: 675px) {
        font-size: 1rem;
      }

      @media (max-width: 300px) {
        font-size: 0.85rem;
      }
    }

    &:hover {
      transform: translateY(-10px);
      transition: transform 0.3s 0.15s ease-out;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: -1;

      background-color: var(--pink);
      border-radius: inherit;

      opacity: 0;
      transition: opacity 0.3s ease-out;
    }

    &:hover::before {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: -1;

      background-color: var(--pink);
      opacity: 1;
      filter: opacity(0.7);
      border-radius: inherit;
    }
  }

  & .card::after {
    content: "";

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -2;

    background-position: center;
    filter: brightness(0.7);

    border-radius: inherit;
    transition: transform 1s ease-out;
  }

  & .card:hover::after {
    filter: blur(2px);
    transform: scale(1.1);
  }

  & .card.carService::after {
    background-image: url("../assets/images/backgrounds/Car-service.jpg");
  }
  & .card.hotel::after {
    background-image: url("../assets/images/backgrounds/hotel.jpg");
  }
  & .card.eShop::after {
    background-image: url("../assets/images/backgrounds/eshop.jpg");
  }
  & .card.hospital::after {
    background-image: url("../assets/images/backgrounds/hospital.jpg");
  }
}
